@font-face{
    src: url("./Roboto_Condensed/RobotoCondensed-Light.ttf");
    font-family: "Roboto";
}

@font-face{
    src: url("./Roboto_Condensed/RobotoCondensed-Bold.ttf");
    font-family: "Roboto-light";
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 50px;
}

body{
    font-family:'Roboto';
    background-color: #f4f4f4;
    color: #333;
}

#navbar{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    margin: 20px;
}

#navbar >*:first-child h1{    
    padding: 15px;
    font-family: "Roboto-light";
}

#navbar >*:first-child {
    display: flex;
}

.btn{
   margin-left: 300px;
   background-color: transparent;
   border: 1px solid #000;
   padding: 10px;
}

.btn:hover{
    transform: scale(.98);
    cursor: pointer;
}

.navs ul{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
}

.navs ul li{
    padding: 13px;
    list-style-type: none;
}

.navs ul li:hover{
    border-bottom: 1px solid #000;
    transition: .5s ease-in-out;
    cursor: pointer;
}

/* section */
.grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 100px;
    font-size: 40px;
    line-height: 4.5rem;
}

.section-one{
    font-weight: bold;
}

.section-one ul li{
    list-style-type: square;
    padding: 0px;
    margin-right:40px ;
    font-size: medium;
}

.section-one ul >*:first-child{
    list-style-type: none;
}

.section-one ul{
    display: flex;
}

/*section buttons */
.btn-primary{
    padding: 011px;
    border: 1px solid #000;
    margin: 0;
    width: 7vw;
    background-color: #000;
    color: #fff;
}

.btn-second{
    background-color: transparent;
    color: #000;
}

.div-btn{
    display: flex;
}

/* section images */
.img-section img{
    height: 500px;
    width: 500px;
    border-radius: 50%;
}

.img-section{
    display: inline-block;
    z-index: -1;
}

/* .second-nav{
    width: 100vw;
    background-color: #000;
    color: #fff;
    transform: skew(-20deg);
} */