@font-face {
    font-family: "Roboto";
    src: url("./Roboto_Condensed/RobotoCondensed-Bold.ttf");
}

:root{
    --primary-bg-color:#ff0f00;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 200px;
    height: 200px;
}

a{
    color: #333;
    text-decoration: none;
}

body{
    font-family: "Roboto";
    font-size: 20px;
    /* background-color: var(--primary-bg-color); */
    /* color: #fff; */
}

.flex-one{
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-bg-color);
    padding: 30px;
}

.flex-one nav ul li{
    list-style: none;
    padding-right: 20px;
}

.flex-one nav ul{
    display: flex;
}

.flex-one h4{
    font-size: 25px;
}

